.NewsItem {
  list-style: none;
}

.NewsItem a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.NewsItem a p {
  margin: 5px 0;
}

.SearchInput {
  margin: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
